	<h4>Your Cart</h4>

		<table id="cart" class="table-cart table table-striped table-hover">
			<tbody>
				<%= render @cart.line_items %>
			</tbody>
			<tfoot>
				<tr class="total_line">
					<td colspan="3">Total</td>
					<td class="total_cell"><%= number_to_currency(@cart.total_price, :locale => 'es') %></td>
					<td></td>
				</tr>
			</tfoot>
		</table>

		<div class="col-md-2">
			<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
		</div>
			<%= link_to 'Chekout', store_url, :class => 'btn btn-primary pull-right', :notice => 'Aquí hubiéramos ido a la página de compra' %>
